#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(260deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 2s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Extra */

.headerMain {
  background-color: #888;
  width: 100%;
  padding: 30px;
}

.mainContainer {
  background-color: darkcyan;
}

.skjermImg {
  background-image: url("./assets/ananas-bg.png");

  width: 100vw;
  height: 100px;
}

.navBarTop {
  display: flex;

  justify-content: space-around;

  margin: 10px auto;
  background-color: rgb(87, 87, 87);
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconImg {
  width: 50px;
}

.navBar a,
.navBar li {
  color: white;
  text-decoration: none;
  margin: 10px;
  list-style: none;
  text-align: center;
}

.childrenBox {
  display: flex;
  justify-content: space-evenly;
}
